@(info : HotelUrgencyInfo)

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapsing-dev">Urgency Info</button>
<div id="collapsing-dev" class="collapse">
    <label>Air Attach remaining time : </label><span>@info.airAttachRemainingTime</span>
    <label>Number of people Viewing : </label><span>@info.numberOfPeopleViewing</span>
    @*airAttachRemainingTime: Int, numberOfPeopleViewing: Int, numberOfPeopleBooked: Int, numberOfRoomsLeft: Int, lastBookedTime: Long,*@
    @*almostSoldStatus: String, link: String, airAttachEnabled: Boolean*@
</div>