@(offer: OffersModelV2)

@main("Welcome to Play") {
    @offer.offers.Hotel.sliding(3, 3).map { hotelOffers =>
        <div class="card-deck">
            @hotelOffers.map { hotelOffer =>
                <div class="card">
                    <img class="card-img-top" src="@hotelOffer.hotelInfo.hotelImageUrl" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">@hotelOffer.hotelInfo.hotelName</h4>
                        <p class="card-text">@hotelOffer.destination.longName</p>
                    </div>
                    <div class="card-footer">
                        @components.checkbox("VIP Access", hotelOffer.hotelInfo.vipAccess) <br/>

                        @components.hotelUrgencyInfo(hotelOffer.hotelUrgencyInfo) <br/>

                        <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            Popover on right
                        </button>
                        @*<small class="text-muted">Last updated 3 mins ago</small>*@
                    </div>
                </div>
            }
        </div>
    }
}